src/main/mule/implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="GetAllEmployee" doc:id="86249969-7d40-4c14-b02e-ef4dd30f4301" >
		<wsc:consume operation="GetAllEmployees" doc:name="Consume" doc:id="f92d9174-b3eb-4306-bca4-10c55893fbb2" config-ref="Web_Service_Consumer_Config" >
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: null
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
	</flow>
	<flow name="GetEmployeebyIDFlow" doc:id="3c1267a2-de1e-425b-add6-e243c409dd25" >
		<wsc:consume operation="GetEmployee" doc:name="Consume" doc:id="d1160c0d-810b-451b-821f-a6775637d4e3" config-ref="Web_Service_Consumer_Config" >
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.id as Number
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
	</flow>
	<flow name="patchbyID_Flow" doc:id="fdf4ff27-8ebc-4642-af7e-b76574d344c8" >
		<wsc:consume doc:name="Consume" doc:id="1e518f25-a461-4e81-8b9f-8fd0a508f841" config-ref="Web_Service_Consumer_Config" operation="UpdateEmployee">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: payload.ns0#UpdateEmployeeRequest.ns0#Employee.ns0#id as Number,
			ns0#firstName: payload.ns0#UpdateEmployeeRequest.ns0#Employee.ns0#firstName,
			ns0#lastName: payload.ns0#UpdateEmployeeRequest.ns0#Employee.ns0#lastName,
			ns0#department: payload.ns0#UpdateEmployeeRequest.ns0#Employee.ns0#department
		}
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
	</flow>
	<flow name="delete_Flow" doc:id="adf2d47e-f4c2-455a-bfea-fb90d0f2080d" >
		<wsc:consume operation="DeleteEmployee" doc:name="Consume" doc:id="fedf6005-f531-40ac-8d40-8790cebb00eb" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: payload.DeleteEmployeeRequest.ns0#id
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
	</flow>
	<flow name="AddEmployeeFlow" doc:id="5622a733-dbde-4285-a3e2-54e03ca095a8" >
		<wsc:consume operation="AddEmployee" doc:name="Consume" doc:id="0ef60cae-ab0d-4142-8b2f-efe91133d3d1" config-ref="Web_Service_Consumer_Config">
		</wsc:consume>
	</flow>
</mule>
